VITE_APPWRITE_URL=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your-project-id
VITE_APPWRITE_DATABASE_ID=your-database-id
VITE_APPWRITE_STORAGE_ID=your-storage-id
VITE_APPWRITE_USER_COLLECTION_ID=your-user-collection-id
VITE_APPWRITE_POST_COLLECTION_ID=your-post-collection-id
VITE_APPWRITE_SAVES_COLLECTION_ID=your-saves-collection-id
VITE_APPWRITE_BUCKET_ID=your-bucket-id
